.header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    >:nth-child(2){
        @media screen and (max-width:768px){
        position: fixed;
        right: 2rem;
        z-index: 99;
        top: 2rem;
        }
    }
    .logo{
        width: 10rem;
        height: 3rem;
    }

    .headerMenu{
        list-style: none;
        display: flex;
        gap: 2rem;
        color: #fff ;
        @media screen and (max-width:768px){
            flex-direction: column;
            background: var(--appColor);
            padding: 2rem;
            margin-top: 1rem;
        }
        

        li{
            cursor: pointer;
            &:hover{
                color: var(--orange);
            }
        }
    }
}