.header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo{
        width: 10rem;
        height: 3rem;
    }

    .headerMenu{
        list-style: none;
        display: flex;
        gap: 2rem;
        color: #fff ;

        li{
            cursor: pointer;
            &:hover{
                color: var(--orange);
            }
        }
    }
}